<div class='login-wrapper'>
  <div class='login-class'>
    <h2>IUH Email System</h2>
    <form method='post' action='/login'>
      <label for='username'>Username:</label><input id='username' name='username' type='text'
        placeholder='Enter username...'><br>
      <label for='password'>Password:</label><input id='password' name='password' type='password'
        placeholder='Enter password'><br>
      <button type='submit' class='login-btn'>Login</button>
    </form>
    <div class='error'>{{message}}</div>
  </div>
</div>